.App {
  text-align: center;
}

.Inputs {
  margin: 10px 0;
}

.Inputs span{
  display: inline-block;
  width: 22px;
  margin: 2px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #eee;
}

.GuessLetter input{
  font-size: 25px;
  width: 45px; 
  text-align: center;
}

.Hangman{
  padding: 20px;
  color: red;
  font-size: 20px;
}
.Hangman span{
  padding: 2px;
  font-size: 20px;
  text-transform: uppercase;
}

.Hangman pre{
  width: 180px;
  color: #666;
  text-align: left;
  margin: 0 auto;

}
